<div class="site-mobile-menu" >
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <!-- <div class="site-mobile-menu-body">
   </div> -->
   <div class="mob-meny">
     <ul class="site-naw-wrap">
       <li class="active" i18n="site header|An introduction header for this sample"><a  routerLink =""  routerLinkActive = "active" >Home</a></li>
       <li ><a routerLink ="/category/"  routerLinkActive = "active">Templates</a></li>
       <li><a routerLink="/custom/" routerLinkActive = "active">Custom development</a></li>
       <li><a routerLink="/tehnology/" routerLinkActive = "active">Our tehnology</a></li>
       <li><a routerLink ="/team/"  routerLinkActive = "active">Our team</a></li>
       <li><a routerLink="/contact/" routerLinkActive = "active">Contact</a></li>
     </ul>
     <ul class="site-naw-wrap" >
       <li style="display: inline;margin-right: 35px;"><a href="#"><span class="icon-facebook"></span></a></li>
       <li style="display: inline;margin-right: 35px;"><a href="#"><span class="icon-twitter"></span></a></li>
       <li style="display: inline;"> <a href="#"><span class="icon-instagram"></span></a></li>
     </ul>
   </div>
</div>
<header class="header-bar d-flex d-lg-block align-items-center" data-aos="fade-left" style="overflow: hidden;">
  <div class="site-logo">
    <a href="index.html">digspace</a>
  </div>

  <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

  <div class="main-menu">
    <ul class="js-clone-nav">
      <li class="active" i18n="site header|An introduction header for this sample"><a  routerLink =""  routerLinkActive = "active" >Home</a></li>
      <li><a routerLink ="/category/"  routerLinkActive = "active">Templates</a></li>
      <li><a routerLink="/custom/" routerLinkActive = "active">Custom development</a></li>
      <li><a routerLink="/tehnology/" routerLinkActive = "active">Our tehnology</a></li>
      <li><a routerLink ="/team/"  routerLinkActive = "active">Our team</a></li>
      <li><a routerLink="/contact/" routerLinkActive = "active">Contact</a></li>
    </ul>
    <ul class="social js-clone-nav">
      <li><a href="#"><span class="icon-facebook"></span></a></li>
      <li><a href="#"><span class="icon-twitter"></span></a></li>
      <li><a href="#"><span class="icon-instagram"></span></a></li>
    </ul>
  </div>
</header>
