<app-header></app-header>
<main class="main-content">
    <div class="container-fluid photos">
      <div class="row justify-content-center">
      <div class="col-md-8 "  data-aos="fade-up">
        <h2 class="text-white mb-4 text-center" >We offer an effective, proven over the years method of phased development of sites with individual design.</h2>
      </div>
        <div class="col-md-6 pt-4"  data-aos="fade-up">


          <div class="row">
            <div class="col-md-12">
              <p class="text-white" style="font-size:20px;"><span style="color:#ef6c57;">1.</span> Formation of technical specifications for individual design</p>
              <p class="text-white" style="font-size:20px;"><span style="color:#ef6c57;">2.</span> Drawing custom page layout design</p>
              <p class="text-white" style="font-size:20px;"><span style="color:#ef6c57;">3.</span> Editing</p>
              <p class="text-white" style="font-size:20px;"><span style="color:#ef6c57;">4.</span> Layout</p>
              <p class="text-white" style="font-size:20px;"><span style="color:#ef6c57;">5.</span> Filling content</p>
              <p class="text-white" style="font-size:20px;"><span style="color:#ef6c57;">6.</span> Testing and launching a project</p>
            </div>
          </div>
        </div>
        <div class="col-md-9 ">
          <h4 class="text-center" style="color:#ef6c57;">This approach allows you to efficiently and quickly launch a website with an individual design.</h4>
        </div>
        </div>

      </div>

      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright <span style="color:#ef6c57;">&copy;</span><script>document.write(new Date().getFullYear());</script> All rights reserved <a routerLink = "/" target="_blank" >DigSpace</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
        </div>
      </div>

  </main>
