<app-header></app-header>
<main class="main-content">
    <div class="container-fluid photos">
      <div class="row justify-content-center">
      <div class="col-md-8 "  data-aos="fade-up">
        <h2 class="text-white mb-4 text-center">Our website creation technologies</h2>
      </div>
        <div class="col-md-10 pt-4"  data-aos="fade-up">
          <div class="row justify-content-center">
            <img src="http://digspace.pythonanywhere.com/static/assets/images/python-logo.svg" alt="Image" class="img-fluid" width=500px;>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-white" style="font-size:20px;">Python is the fastest growing programming language in the last few years. It is a high-level programming language.
                Today, Python is one of the most popular programming languages with a rapidly growing scope of applications..</p>
                <div class="row justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hg3-IQ5SqMI"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p class="text-white" style="font-size:20px;">Python is actively promoted by Google - the first courses for developers on the Google for
                  Education portal were dedicated to this programming language, and on the cloud hosting of Google App Engine applications,
                  it was Python that became the first recommended language for use..</p>
                <p class="text-white" style="font-size:20px;">
                  Python is used by companies and projects such as
                  Google, YouTube, Instagram, Yandex, Pinterest, Disqus, Mozilla, The Washington Times, World of Tanks, Udemy. </p>
                <div class="row">
                  <div class="col-md-1" data-aos="fade-left">
                    <img src="static/assets/images/google.png" alt="Image" class="img-fluid" style="margin-top:25%;">
                  </div>
                  <div class="col-md-1"data-aos="fade-left">
                    <img src="static/assets/images/youtube.jpg" alt="Image" class="img-fluid" style="margin-top:10%;">
                  </div>
                  <div class="col-md-1"data-aos="fade-left">
                    <img src="static/assets/images/insta.gif" alt="Image" class="img-fluid">
                  </div>
                  <div class="col-md-1"data-aos="fade-left">
                    <img src="static/assets/images/Yandex.png" alt="Image" class="img-fluid">
                  </div>
                  <div class="col-md-1" data-aos="fade-right">
                    <img src="static/assets/images/pinterest.png" alt="Image" class="img-fluid"style="margin-top:15%;" >
                  </div>
                  <div class="col-md-1" data-aos="fade-right">
                    <img src="static/assets/images/disqus.png" alt="Image" class="img-fluid" style="margin-top:18%;">
                  </div>
                  <div class="col-md-1" data-aos="fade-right">
                    <img src="static/assets/images/mozilla.png" alt="Image" class="img-fluid"style="margin-top:15%;" >
                  </div>
                  <div class="col-md-1" data-aos="fade-right">
                    <img src="static/assets/images/netflix.png" alt="Image" class="img-fluid" style="margin-top:18%;">
                  </div>
                  <div class="col-md-1" data-aos="fade-right">
                    <img src="static/assets/images/uber.png" alt="Image" class="img-fluid" style="margin-top:15%;">
                  </div>
                  <div class="col-md-1" data-aos="fade-left">
                    <img src="static/assets/images/spotify.png" alt="Image" class="img-fluid" style="margin-top:10%;">
                  </div>
                  <div class="col-md-1" data-aos="fade-right">
                    <img src="static/assets/images/udemy.png" alt="Image" class="img-fluid" style="margin-top:5%;">
                  </div>
                  <div class="col-md-1" data-aos="fade-left">
                    <img src="static/assets/images/tanks.png" alt="Image" class="img-fluid" >
                  </div>
                </div>

            </div>
          </div>
        </div>
        <div class="col-md-10 pt-4"  data-aos="fade-up">
          <div class="row justify-content-center">
            <img src="static/assets/images/angular.png" alt="Image" class="img-fluid" width=500px; style="margin-top:5%;margin-bottom:5%;">
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-white" style="font-size:20px;">AngularJS (Angular.js, Angular) is a front-end JavaScript framework used for building single page applications and websites. Visually Angular SPA might look just like a regular page. So how to figure out it’s web app we are looking at? If when a message is received, new comments are made or we are submitting registration form there’s no need to reload the page to see updates, then we are dealing with one page application built with AngularJS or other JavaScript framework. </p>
              <p class="text-white" style="font-size:20px;">
                AngularJS is used by companies and projects such as
                <span style="color:#ef6c57;">Google,YouTube,Guardian,PayPal,IBM,VEVO,Lego,Upwork,Freelancer,jetBlue,Localytics,Netflix.</span> </p>
                <div class="row">
                  <div class="col-md-1" data-aos="fade-left">
                    <img src="static/assets/images/google.png" alt="Image" class="img-fluid" style="margin-top:25%;">
                  </div>
                  <div class="col-md-1"data-aos="fade-left">
                    <img src="static/assets/images/youtube.jpg" alt="Image" class="img-fluid" style="margin-top:10%;">
                  </div>
                  <div class="col-md-1"data-aos="fade-left">
                    <img src="static/assets/images/guardian.png" alt="Image" class="img-fluid" style="margin-top:25%;">
                  </div>
                  <div class="col-md-1"data-aos="fade-left">
                    <img src="static/assets/images/paypal.png" alt="Image" class="img-fluid" style="margin-top:25%;">
                  </div>
                  <div class="col-md-1" data-aos="fade-right">
                    <img src="static/assets/images/ibm.png" alt="Image" class="img-fluid"style="margin-top:15%;" >
                  </div>
                  <div class="col-md-1" data-aos="fade-right">
                    <img src="static/assets/images/vevo.png" alt="Image" class="img-fluid" style="margin-top:18%;">
                  </div>
                  <div class="col-md-1" data-aos="fade-right">
                    <img src="static/assets/images/lego.png" alt="Image" class="img-fluid"style="margin-top:15%;" >
                  </div>
                  <div class="col-md-1" data-aos="fade-right">
                    <img src="static/assets/images/netflix.png" alt="Image" class="img-fluid" style="margin-top:18%;">
                  </div>
                  <div class="col-md-1" data-aos="fade-left">
                    <img src="static/assets/images/freelancer.png" alt="Image" class="img-fluid" style="margin-top:10%;">
                  </div>

                </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 pt-4"   data-aos="fade-up">
          <div class="row justify-content-center">
           <img src="static/assets/images/bootstrap-log.svg" alt="Image" class="img-fluid" width=500px;>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-white" style="font-size:20px;">Bootstrap is the most popular CSS library for responsive website layouts.

In simple words, Bootstrap makes sites compatible with mobile devices.

Using Bootstrap guarantees not only that your site will be mobile-friendly, as Google requires, but that the site will be as compatible with most modern browsers as possible.

Bootstrap was originally developed by Twitter, but is now an independent project.</p>
            </div>
          </div>
            <div class="row justify-content-center">
              <img src="static/assets/images/bootstrap-browser.svg" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>


        </div>



      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright <span style="color:#ef6c57;">&copy;</span><script>document.write(new Date().getFullYear());</script> All rights reserved <a routerLink = "/" target="_blank" >DigSpace</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
        </div>
      </div>

  </main>
